@font-face {
    font-family: 'Roboto';
    src: url('./Roboto.woff') format('woff'), url('./Roboto.woff2') format('woff2'),
    url('./Roboto.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    src: url('./Montserrat.woff') format('woff'), url('./Montserrat.woff2') format('woff2'),
    url('./Montserrat.ttf') format('truetype');
}
